schema-compiler/src/test/resources/libraries_1_3/test-package-chameleon/chameleon_schema-2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified">

	<xsd:complexType name="ChameleonDuplicateTypeA">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string" />
			<xsd:element name="lastName" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="ChameleonSimpleTypeC">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>